<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image SXM Preferences</string>
			<key>CFBundleTypeIconFile</key>
			<string>PrefsDoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
				<string>pct</string>
				<string>pic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>PICTdoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>TIFFdoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>afm</string>
				<string>dm2</string>
				<string>dm3</string>
				<string>dti</string>
				<string>ezd</string>
				<string>ffr</string>
				<string>fits</string>
				<string>flt</string>
				<string>hdf</string>
				<string>hdr</string>
				<string>his</string>
				<string>ibg</string>
				<string>ibw</string>
				<string>img</string>
				<string>jpk</string>
				<string>lsm</string>
				<string>mdt</string>
				<string>mtrx</string>
				<string>nef</string>
				<string>opd</string>
				<string>pef</string>
				<string>pr3</string>
				<string>sif</string>
				<string>sm2</string>
				<string>sm3</string>
				<string>sm4</string>
				<string>stl</string>
				<string>stm</string>
				<string>stp</string>
				<string>sxm</string>
				<string>tb0</string>
				<string>tb1</string>
				<string>tf0</string>
				<string>tf1</string>
				<string>tfr</string>
				<string>tga</string>
				<string>top</string>
				<string>wat</string>
				<string>xqd</string>
				<string>xqf</string>
				<string>zfp</string>
				<string>zfr</string>
				<string>zvi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SXM document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>iSXMdoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iSXM</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>text</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>TEXTdoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ImageSXM-195-X</string>
	<key>CFBundleGetInfoString</key>
	<string>195-2X © Steve Barrett 2013</string>
	<key>CFBundleIconFile</key>
	<string>ImageSXM.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ImageSXM.org.uk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>© Steve Barrett 2013</string>
	<key>CFBundleName</key>
	<string>Image SXM 195</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Imag</string>
	<key>CFBundleShortVersionString</key>
	<string>195-2X</string>
	<key>CFBundleVersion</key>
	<string>195-2X</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>No</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Steve Barrett 2013</string>
</dict>
</plist>
